@import (reference) '_dg-variables.less';
.page{
	background-color: @color-grey;
}
.grid [class*="span"] {
	margin: 10px 20px 0;
}
.header-bar {
 	background-color: @color-blue;
	padding: 15px 0;	
  	position: fixed;
  	width: 100%;
  	z-index: 100;
}
.breadcrumb.breadcrumb-container {
	margin-left: 0;
	padding-left: 0;
}
.breadcrumb-item {
	float: left;
	margin: 0 5px 30px;
}
.breadcrumb-link {
	color: @color-blue;;
}
.container-content {
	background-color: @color-grey-light;
	border: 1px solid @color-grey-semi-dark;
	clear: left;
}
.content-title {
	font-weight: lighter;
}
.line {
	width: 740px;
}
.text-input-style (@text-input-width: 300px) {
	padding: 10px;
	width: @text-input-width;
}
.text-input.large-input {
	.text-input-style;
}
.text-input.xlarge-input {
	.text-input-style(540px);
}
.offset {
	margin-right: 60px;
}
.buttons (@button-width: 140px) {
	font-weight: normal;
	width: @button-width; 
}
.button{
	.buttons;
}
.button-add-account{
	.buttons(300px);
	margin-left: 320px; 
}
.footer {
	border-top: 1px solid @color-grey-semi-dark;
	height: 60px;
	text-align: center;
	width: 100%;
}
